<nav>
    <ul>
        <li>
            <a href="{{url_for('inicio')}}">Inicio</a>
        </li>
        <li>
            <a href="{{url_for('crear_coche')}}">Crear</a>
        </li>
        <li>
            <a href="{{url_for('coches')}}">Coches</a>
        </li>
        <li>
            <a href="{{url_for('lenguajes')}}">Lenguajes</a>
        </li>
        <li>
            <a href="{{url_for('contacto')}}">Contacto</a>
        </li>
        <li>
            <a href="{{url_for('informacion')}}">Informacion</a>
        </li>
    </ul>
</nav>
