{% extends 'layout.html' %}

{% block encabezado %}{{ super() }}{% endblock encabezado %}

{% block titulo %}Informacion{% endblock titulo %}

{% block contenido %}
    <h3>Contenido de informacion</h3>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae autem, doloremque perspiciatis quisquam, veritatis ea ullam incidunt assumenda similique id voluptates. Nesciunt veniam amet assumenda optio quia praesentium molestias id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores perferendis fugiat earum. Soluta, reprehenderit. Eveniet consequuntur eligendi sit placeat vel et soluta facilis inventore ullam iure earum, debitis blanditiis eos. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae dolorum repellat soluta fuga quis corporis temporibus perspiciatis atque officiis voluptatum. Unde similique non facilis pariatur fuga est labore iure provident.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus laudantium, fugiat et sed qui sequi, quas suscipit praesentium repudiandae possimus sint assumenda cum reiciendis dolor dolore, perferendis doloribus eos. Consequatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa rem id rerum porro nam quidem explicabo expedita cumque, ratione modi eaque eum itaque facilis eligendi labore officiis consequatur necessitatibus. Quisquam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, fuga nesciunt rem eius eum expedita id et quos! Impedit harum aliquid esse nam totam dolore natus earum, excepturi autem laboriosam.
    </p>
{% endblock contenido %}
